<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutorials</title>
  <link rel="icon" href="{{url_for('static', filename='Images/yog_logo_f.png')}}" sizes="222x222">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/fb765b365e.js" crossorigin="anonymous"></script>




  <link rel="stylesheet" href="{{url_for('static', filename='css/tutorials.css')}}">
  <!-- <script type="text/javascript" src="{{url_for('static', filename='script/index.js')}}"></script>   -->


</head>
<body>
     
    <section class="tutorials_container">
      <h2>Tutorials By - YogiJi</h2>

      <div class="training_box">
        <div class="train_para">
            <p>Free Training</p>
        </div>
        <div class="train_box1">
            <div class="train_row">
                <div class="train_col">
                  <iframe width="420" height="230" src="https://www.youtube.com/embed/ET_cKo1Ta1s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="vid_info">
                        <div class="info_col1">
                            <p><i class="fa-solid fa-video"></i>VID</p>
                           </div>
                           <div class="info_col2">
                               <div class="star">
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star-half-stroke"></i>
                               </div>
                           </div>
                           <div class="info_col3">
                               <p>free training</p>
                           </div>
                    </div>
                </div>
                <div class="train_col">
                  <iframe width="420" height="230" src="https://www.youtube.com/embed/Dic293YNJI8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="vid_info" id="info2">
                        <div class="info_col1">
                            <p><i class="fa-solid fa-video"></i>VID</p>
                           </div>
                           <div class="info_col2">
                               <div class="star">
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star-half-stroke"></i>
                               </div>
                           </div>
                           <div class="info_col3">
                               <p>free training</p>
                           </div>
                    </div>
                </div>
                <div class="train_col">
                  <iframe width="420" height="230" src="https://www.youtube.com/embed/_1124fj0BeQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="vid_info" id="info3">
                        <div class="info_col1">
                            <p><i class="fa-solid fa-video"></i>VID</p>
                           </div>
                           <div class="info_col2">
                               <div class="star">
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star-half-stroke"></i>
                               </div>
                           </div>
                           <div class="info_col3">
                               <p>free training</p>
                           </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="train_box1">
            <div class="train_row">
                <div class="train_col">
                  <iframe width="420" height="230" src="https://www.youtube.com/embed/kkGY3xBnaGc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="vid_info" id="info4">
                        <div class="info_col1">
                            <p><i class="fa-solid fa-video"></i>VID</p>
                           </div>
                           <div class="info_col2">
                               <div class="star">
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star-half-stroke"></i>
                               </div>
                           </div>
                           <div class="info_col3">
                               <p>free training</p>
                           </div>
                    </div>
                </div>
                <div class="train_col">
                  <iframe width="420" height="230" src="https://www.youtube.com/embed/6Ep5VzGqDRU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="vid_info" id="info5">
                        <div class="info_col1">
                            <p><i class="fa-solid fa-video"></i>VID</p>
                           </div>
                           <div class="info_col2">
                               <div class="star">
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star-half-stroke"></i>
                               </div>
                           </div>
                           <div class="info_col3">
                               <p>free training</p>
                           </div>
                    </div>
                </div>
                <div class="train_col">
                  <iframe width="420" height="230" src="https://www.youtube.com/embed/zqwK6J3yHfA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="vid_info" id="info6">
                        <div class="info_col1">
                            <p><i class="fa-solid fa-video"></i>VID</p>
                           </div>
                           <div class="info_col2">
                               <div class="star">
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star"></i>
                                   <i class="fa-solid fa-star-half-stroke"></i>
                               </div>
                           </div>
                           <div class="info_col3">
                               <p>free training</p>
                           </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="train_btn_box">
          <form action="/select">
            <button class="train_btn">Back</button>
          </form>
        </div>
    </div>
    </section>
</body>
</html>